<?xml version="1.0" encoding="UTF-8"?>
<!-- 会自动加载packages里自定义的的日志appender -->
<Configuration status="WARN" packages="com.sea.common.helper">
    <Properties>
        <Property name="log.dir">logs</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}:%L - %m%n</Property>
        <Property name="pattern.simple">%d{yyyy-MM-dd HH:mm:ss,SSS} %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <!-- 自定义appender -->
        <!-- default -->
        <RollingFile name="default" fileName="${log.dir}/default.log" filePattern="${log.dir}/default.log.%d{yyyyMMdd}">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- error -->
        <RollingFile name="error" fileName="${log.dir}/error.log" filePattern="${log.dir}/error.log.%d{yyyyMMdd}">
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- api -->
        <RollingFile name="api" fileName="${log.dir}/api.log" filePattern="${log.dir}/api.log.%d{yyyyMMdd}">
            <PatternLayout pattern="${pattern.simple}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!--自定义appender-->
        <Sea name="custom">
            <PatternLayout pattern="${pattern}"/>
        </Sea>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="default"/>
            <AppenderRef ref="error"/>
        </Root>
        <Logger name="log.api" level="INFO" additivity="false">
            <AppenderRef ref="api"/>
        </Logger>
        <Logger name="custom.sea" level="INFO" additivity="false">
            <AppenderRef ref="custom"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>